.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background:#eef4ff;
    box-shadow: 0 3px 10px #ede0eb ;
}

.logo{
    color:#b845a9;
    font-weight: 700;
}

.sub{
    font-size: 13px;
    color:#6b7280;
}

.nav-right{
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-right a{
    text-decoration: none;
    color: #453751;
    font-weight: 500;
}

.login-btn{
    background: #b845a9;
    color: white;
    border:none;
    padding:10px 24px;
    border-radius: 25px;
    cursor: pointer;
}

.login-btn:hover{
     box-shadow: 1px 4px 30px #99278a;
}