.welcome{
    min-height: 100vh;
    background: linear-gradient(135deg, #eef4ff, #f6ecff);
    display: flex;
    flex-direction:column;
}

.hero-center{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;
    padding: 0 20px;
}

.hero-center span{
    color:#b845a9;
}

.hero-center p{
    margin-top: 20px;
    max-width: 650px;
    font-size: 18px;
    line-height: 1.7;
    color: #6b7280;
}

.primary-btn{
    margin-top: 35px;
    padding: 14px 36px;
    border-radius: 30px;
    border: none;
    width:200px;
    background: #b845a9;
    color:white;;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.primary-btn:hover{
    transform: translateY(-2px);
    box-shadow: 1px 12px 30px #99278a;
}